@import '../../../../src/App.scss';

.signupForm{
  min-width:100%;
  width:100%;
  min-height: 300px;
  //background-color: lightblue;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  justify-content: center;
  align-items: center;

  @include respond(tab-port){
    min-width:50vw;
    justify-content: space-around;
  }

}

.form-group{
  min-width: 90%;
  //background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem !important;

  @include respond(tab-port){
    flex-direction: row;
  }
}

.form-label{
  width:100%;
  text-align: center;
  //background-color: green;
}

.form-control{
  width:70%;
}

.loaderContainer{
  position: fixed;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index:1000;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupButton{
  margin:10px;
}