.signupForm{
  width:100vw;
  min-height: 400px;
  //background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-group{
  min-width: 90%;
  //background-color: red;
  display: flex;
}

.form-label{
  width:30%;
  //background-color: green;
}

.form-control{
  width:70%;
}

.loaderContainer{
  position: fixed;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index:1000;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}