@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media only screen and (min-width: 25em) { @content };    //400px
  }

  @if $breakpoint == phone {
    @media only screen and (min-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };    //1800
  }
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.loaderContainer{
  position: fixed;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index:1000;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userWrapper{
  width:100vw;
  display:flex;
  flex-direction: column;

  .jumbotron{
    padding:10px 0 0 0;
    margin:0;
  }

  @include respond(tab-port){
    flex-direction: row;
  }
}